
@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (min-width: 768px){
  body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A2036;
  }
}

::-webkit-scrollbar {
  width: 4vh;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #1A2036;
  border-radius: 100vw;
  border: 5px solid #2E3650 ;
}


